body {
  background-color: #f7fbfa;

  header {
    nav {
      box-shadow: 0px 0px 8px 2px rgba(2, 40, 2, 0.05);
      background-color: white;
      height: 6rem;
      justify-content: center;

      &.navbar-expand {
        justify-content: center;
      }
    }
  }

  main {
    margin-top: 6rem;
    padding-top: 3rem;
  }
}