.catalog-item {
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 4px 16px 0 rgba(10, 50, 30, 0.08);
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
  overflow: hidden;
}